<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false"
    >
        <!-- <mat-toolbar>Menu</mat-toolbar> -->
        <div class="nav-header-container">
            <div class="logo-container">
                <img src="./assets/logo.webp" class="logo" alt="" />
            </div>
            <mat-card>
                <mat-card-content class="header">
                    <p class="username">
                        <strong>Eric Nkaka</strong><br />ericnkaka
                    </p>

                    <br />

                    <button
                        (click)="logout()"
                        mat-raised-button
                        color="primary"
                    >
                        Logout
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
        <mat-nav-list>
            <a
                mat-list-item
                routerLink="/dashboard"
                class="container"
                routerLinkActive="active"
            >
                <mat-icon matListIcon class="nav-icon">dashboard</mat-icon>
                <span class="nav-text">Dashboard</span>
            </a>

            <a mat-list-item routerLink="/employees" routerLinkActive="active">
                <mat-icon matListIcon class="nav-icon">people</mat-icon>
                <span class="nav-text">Employees</span>
            </a>

            <a
                mat-list-item
                routerLink="/benefits"
                routerLinkActive="active"
                class="container"
            >
                <mat-icon matListIcon class="nav-icon">card_giftcard</mat-icon>
                <span class="nav-text">Benefits</span>
            </a>

            <a mat-list-item routerLink="/users" routerLinkActive="active">
                <mat-icon matListIcon class="nav-icon">person</mat-icon>
                <span class="nav-text">Users</span>
            </a>

            <a mat-list-item routerLink="/department" routerLinkActive="active">
                <mat-icon matListIcon class="nav-icon">apartment</mat-icon>
                <span class="nav-text">Department</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            @if (isHandset$ | async) {
                <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                >
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
            }
            <span>Employee-panel</span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
